@using Nancy.BundleIt

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Account Dashboard</title>
    @BundleItAssets.RenderCSS("accountdashboard")
	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
    <b>Account Dashboard</b>
    @BundleItAssets.RenderJS("accountdashboard")
</body>
</html>
